body {
    scroll-behavior: smooth;
  }
  
  h2 {
    color: #333;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .card:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }
  
  /* Căn giữa hàng dưới và tạo hiệu ứng xen kẽ */
  #members .row:nth-of-type(2) {
    margin-top: -20px; /* nâng nhẹ lên cho xen kẽ */
  }
  